/**
 * Colors used: greenish #73b1ec, pinkish #FACAE6
 * Check: http://www.color-hex.com/color/facae6
 *
 * http://www.color-hex.com/color/73b1ec
 * 
 * We choose shades: #73b1ec and #456a8d and #223546 (hover link)
 *
 * Dark gray: 4d4d4d, light gray 5f5f5f
 */

html, body {
  font-family: arial, sans serif;
  font-size: 11pt;
  color: #4d4d4d;
  line-height: 1.7em;
  
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}

#container {
  margin: 0 auto;
  width: 900px;
}

#menu {
  width: 150px;
  float: left;
  text-align: right;
}

#menu-inner {
  padding: 70px 20px 0 0;
}

#contents {
  padding: 50px 25px;
  width: 700px;
  float: left;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #FACAE6;
  color: #73b1ec;
}

a {
  color: #73b1ec;
  text-decoration: none;
}
a:hover {
  color: #456a8d;
  text-decoration: underline;
}

div.nav ul {
  text-decoration: none;
  text-transform: uppercase;

  margin-bottom: 30px;
  padding-left: 0;
}

li.nav {

}

div.nav ul li {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  color: #73b1ec;

  list-style: none;
  margin-top: 5px;  
}

div.nav ul li ul li {
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  font-size: 11pt;
  color: #4d4d4d;

  list-style: none;
}

a.nav {
  color: #4d4d4d;
}

a.nav:hover {
  color: #223546;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
}
th {
    background-color: #e5e5e5;
}
th, td {
    border: 1px solid lightgray;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}

pre, code {
  font-size: 10pt;
}

pre {
  line-height: 1.5em;
  overflow-x: auto; 
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  padding: 5px;
}

pre .nt {
    color: gray;
}

pre.example {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

div.lastupdate {
  font-size: 75%;
  margin-top: 40px;
  
  border-top: 1px solid #456a8d;
  color: #73b1ec;  
}
