[submodule "aimtools"]
	path = aimtools
	url = https://github.com/dobots/aimtools
[submodule "rur-builder"]
	path = rur-builder
	url = https://github.com/dobots/rur-builder
	branch = master
[submodule "zmqserver"]
	path = zmqserver
	url = https://github.com/dobots/zmqserver
[submodule "aimserver"]
	path = aimserver
	url = https://github.com/dobots/aimserver
[submodule "zmqconnect"]
	path = zmqconnect
	url = https://github.com/dobots/zmqconnect
