extends layout

block content
  h1= title
  p This server will provide a RESTful API to mix-and-match several AI modules so you can perform vision processing in the cloud. The functionality is delivered by individual modules that can be started, stopped, and connected to each other through calls like instances/POST, instances/GET, connections/POST, etc. adhering to REST standards. Navigate to http://localhost:3000/modules to find out.
