<!DOCTYPE HTML>
<html>
<head>
  <title>The Dodedodo infrastructure - AIM - {{ page.title }} </title>
  <link rel="shortcut icon" href="img/favicon.ico" >
  <link type="text/css" rel="stylesheet" href="css/style.css"> 
  
  <meta name="title" content="The Dodedodo infrastructure - AIM - {{ page.title }}">   
  <meta name="keywords" content="algorithms, learning, optimisation, classification, prediction, signal processing, open source" >
  <meta name="description" content="The Dodedodo infrastructure has a large emphasis on bring artificial intelligence to the masses." >
  <meta name="author" content="Almende B.V." >

</head>

<body>

<a href="https://dobots.github.com/aim" style="position: fixed; top: 0; right: 0; border: 0;" >
  <img src="img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" >
</a>
  
<div id="container">

<div id="menu">
<div id="menu-inner">

<a href="http://dobots.github.com/aim"><img src="img/logo/dobots128.png" alt="logo"></a>
<br>

<div class="nav">
<ul>
  <li>
    Dodedodo
    <ul>
      <li><a class="nav" href="index.html">Introduction</a></li>
      <li><a class="nav" href="install.html">Installation</a></li>
      <li><a class="nav" href="module_spec.html">Module Spec</a></li>
      <li><a class="nav" href="deployment_spec.html">Deployment Spec</a></li>
    </ul>
  </li>
</ul>
</div>

</div>
</div>

<div id="contents">
  {{ content }}
  
  <div class="lastupdate">
  Site last rendered {{ site.time | date_to_long_string }}
  </div>
</div>

</div>
</body>
</html>
